body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    .scroll {
        position: fixed;
        margin: 35px;
    }
    .scroll-btn {
        height: 40px;
        width: 40px;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        animation: show .4s;
    }
}

.header {
    &__top {
        margin-bottom: 100px;
        &-half {
            display: flex;
            align-items: center;
        }
        &-inner {
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-list {
            display: flex;
            list-style: none;
        }
        &-li {
            margin-right: 21px;
        }
        &-link {
            text-decoration: none;
            font-weight: normal;
            font-size: 16px;
            color: #000;
        }
        &-btn {
            width: 285px;
            height: 50px;
            background: #00B127;
            border: none;
            border-radius: 40px;
            outline: none;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.4s;
            cursor: pointer;
        }
        &-btn:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            transform: scale(1.03);
        }
        &-order {
            margin-right: 50px;
        }
        &-log {
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            position: relative;
            transition: all 0.6s;
            color: #3DC2FE;
            cursor: pointer;
            &:hover {
                color: #FF9900;
            }
            &:after {
                content: "";
                width: 0;
                height: 2.5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                background-color: #FF9900;
                transition: all 0.3s;
            }
            &:hover:after {
                width: 100%;
                left: 0;
            }
        }
    }
    &__form {
        margin-top: 40px;
        &-container {
            position: relative;
            background: linear-gradient(95.58deg, #31FF5E 0%, #12D8FA 50%, #1FA2FF 100%);
            border-radius: 10px;
            max-width: 800px;
            padding: 80px 0 50px 50px;
            box-sizing: border-box;
            margin: 0 auto;
            display: none;
            animation: show 1s;
            -webkit-animation: show 1s;
        }
        &-container--active {
            display: block;
        }
        & input {
            display: block;
            margin: 0 auto;
            width: 400px;
            height: 40px;
            border-radius: 5px;
            padding-left: 10px;
            border-radius: border-box;
            border: none;
            outline: none;
            margin-bottom: 15px;
        }
        & input:focus {
            border: 2px solid #000;
        }
        &-head {
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 150px;
        }
        &-btn {
            cursor: pointer;
            display: block;
            margin: 0 auto;
            height: 40px;
            width: 160px;
            border-radius: 5px;
            background: #FFFF;
            border-radius: 40px;
            border: none;
            outline: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
            margin-top: 200px;
        }
        &-error {
            position: absolute;
            top: 64%;
            right: 32%;
            width: 300px;
            padding: 10px 10px;
            background: #fff;
            border-radius: 5px;
            font-size: 15px;
            line-height: 23px;
            font-weight: 500;
            color: rgb(236, 26, 26);
            display: none;
        }
        &-error::before {
            content: '';
            border: solid transparent;
            position: absolute;
            left: 8px;
            bottom: 100%;
            border-bottom-color: #fff;
            border-width: 9px;
            margin-left: 0;
            transition: 2s;
        }
    }
    &__tab {
        margin-bottom: 400px;
        position: relative;
        &-bg {
            position: absolute;
            right: 0;
            top: -25px;
            width: 900px;
            height: 800px;
            background: rgba(63, 190, 255, 0.08);
            z-index: -1;
        }
        &-inner {
            display: flex;
            width: 100%;
            margin: 0 auto;
            box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
        }
        &-card {
            position: relative;
            width: 900px;
            height: 550px;
            animation: show 1.5s;
        }
        &-pic {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-descr {
            position: absolute;
            top: 360px;
            right: -192px;
            width: 450px;
            height: 250px;
            background: rgba(251, 254, 93, .8);
            padding: 50px;
            font-size: 20px;
            font-weight: 300;
            line-height: 36px;
            color: rgba(0, 0, 0, .7);
        }
        &-head {
            min-width: 300px;
            padding: 35px 30px;
            box-sizing: border-box;
            background: #ffff;
        }
        &-choice {
            font-weight: 700;
            font-size: 16px;
        }
        &-list {
            margin-top: 35px;
            padding-left: 26px;
            border-left: 1px solid #000;
        }
        &-services {
            list-style: none;
            font-size: 18px;
            font-weight: 300;
            margin-top: 10px;
            color: rgba(0, 0, 0, .6);
            cursor: pointer;
        }
        &-services--active {
            font-weight: 700;
            font-size: 22px;
            color: #000;
            transition: .3s all;
        }
    }
}

.hwd {
    margin-bottom: 65px;
    &__bg-container {
        background: rgba(63, 190, 255, 0.1);
        padding: 10px;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        color: #000000;
        text-align: center;
    }
    &__container {
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: center;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 30px;
        transition: .2s;
    }
    // &__item:hover {
    //     // border: 2px solid #00B127;
    //     border-bottom: 2px solid #00B127;
    //     transition: .2s;
    // }
    &__big-number {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 150px;
        line-height: 183px;
        color: #00B127;
    }
    &__text {
        max-width: 700px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        padding-left: 46px;
    }
}

.do-section {
    position: relative;
    padding: 70px 0 140px;
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #000000;
        text-align: center;
    }
    &__under-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #606060;
        text-align: center;
        padding-bottom: 90px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 445px;
        height: 223px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid transparent;
        border-radius: 30px;
        transition: .2s;
    }
    &__item:hover {
        border: 4px solid #3FBBFF;
        transition: .2s;
    }
    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        width: 137px;
        padding-right: 50px;
    }
    &__img1 {
        position: absolute;
        top: 60px;
        opacity: 0.5;
    }
    &__img2 {
        position: absolute;
        top: 600px;
        opacity: 0.5;
    }
    &__img3 {
        position: absolute;
        top: 800px;
        opacity: 0.5;
    }
    &__img4 {
        position: absolute;
        top: 200px;
        right: 400px;
        opacity: 0.5;
    }
    &__img5 {
        position: absolute;
        top: 300px;
        right: 0px;
        opacity: 0.5;
    }
    &__img6 {
        position: absolute;
        top: 400px;
        right: 0px;
        opacity: 0.5;
    }
}

.adv {
    &__img {
        position: absolute;
        top: 0;
        right: -286px;
    }
    &__background-container {
        background: rgba(63, 190, 255, 0.1);
        border-radius: 40px;
        padding: 50px 30px 110px;
        position: relative;
    }
    &__title {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #000000;
        padding-bottom: 100px;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        padding-bottom: 50px;
    }
    &__mark {
        margin-top: 37px;
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }
    &__text {
        width: 615px;
    }
    &__main-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        padding-bottom: 20px;
    }
    &__simple-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        color: #888888;
    }
}

.hbp {
    position: relative;
    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        color: #000000;
    }
    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #606060;
        width: 790px;
    }
    &__form-container {
        display: flex;
        justify-content: center;
    }
    &__form-item {
        color: #3FBBFF;
        width: 600px;
        fieldset {
            width: 482px;
            height: 102px;
            border-radius: 40px;
            border-color: #3FBBFF;
            border: #3FBBFF 4px solid;
        }
        legend {
            margin-left: 60px;
            padding: 0 40px 0 10px;
            font-weight: 500;
            font-size: 30px;
        }
        textarea {
            width: 370px;
            height: 45px;
            border: 0;
            background: 0;
            color: #3FBBFF;
            outline: none;
            font-size: 20px;
            padding: 10px 70px;
        }
    }
    &__inf-container {
        padding-top: 55px;
    }
    &__inf-item {
        color: #3FBBFF;
        fieldset {
            width: 500px;
            height: 320px;
            border-radius: 30px;
            border-color: #3FBBFF;
            border: #3FBBFF 4px solid;
        }
        legend {
            margin-left: 60px;
            padding: 0 40px 0 10px;
            font-weight: 500;
            font-size: 30px;
        }
        textarea {
            width: 970px;
            height: 262px;
            border: 0;
            background: 0;
            border-radius: 30px;
            color: #3FBBFF;
            outline: none;
            font-size: 20px;
            padding: 70px 110px;
            resize: none;
        }
    }
    &__button {
        margin-top: 55px;
        margin-bottom: 100px;
        border: none;
        padding: 16px 0;
        width: 100%;
        border: 4px solid transparent;
        background: #3EC0FF;
        border-radius: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        transition: .2s;
    }
    &__button:hover {
        transition: .2s;
        background: #FFFFFF;
        color: #3EC0FF;
        border: 4px solid #3EC0FF;
    }
    &__image-1 {
        position: absolute;
        opacity: 0.5;
        top: 0;
        left: 0;
    }
    &__image-2 {
        position: absolute;
        opacity: 0.5;
        top: 700px;
        left: 0;
    }
    &__image-3 {
        position: absolute;
        opacity: 0.5;
        top: 300px;
        right: 0;
    }
    &__image-4 {
        position: absolute;
        opacity: 0.5;
        top: 250px;
        right: 200px;
    }
    &__image-5 {
        position: absolute;
        opacity: 0.5;
        top: 150px;
        right: 100px;
    }
}

.contacts {
    &__bg-container {
        background: rgba(63, 190, 255, 0.1);
        padding: 20px 20px;
    }
    &__title {
        padding-bottom: 100px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #000000;
        text-align: center;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        width: 607px;
        height: 474px;
    }
    &__inf {
        border-right: 3px solid #00B127;
        border-left: 3px solid #00B127;
        padding: 0 37px;
    }
    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
    }
    &__email {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
        padding: 48px 0 34px;
    }
}

.footer {
    &__content {
        background: rgba(63, 190, 255, 0.1);
        padding: 100px 0 200px;
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            font-weight: 600;
            font-size: 32px;
            color: #000000;
            margin-bottom: 52px;
        }
        &-text {
            font-weight: 500;
            font-size: 32px;
            color: #000000;
        }
        &-question {
            border: 2px solid #00B127;
            box-sizing: border-box;
            outline: none;
            border-radius: 40px;
            width: 500px;
            height: 200px;
            background: transparent;
            font-size: 24px;
            color: #A3A3A3;
        }
    }
}

.modal__order {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    &-close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: .5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &-title {
        display: block;
        margin: 0 auto 20px;
    }
    &-dialog {
        max-width: 450px;
        max-height: 800px;
        margin: 40px auto;
    }
    &-content {
        position: relative;
        box-sizing: border-box;
        padding: 40px 20px 60px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, .2);
        background: #FFF;
        border-radius: 4px;
        overflow-y: auto;
    }
    &-pic {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
    }
    &-btn {
        max-width: 120px;
        height: 50px;
        background: rgba(235, 14, 14, 0.87);
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
    }
    &-form input {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    &-form textarea {
        width: 100%;
        height: 80px;
        resize: none;
    }
    &-do {
        font-size: 12px;
    }
    &-max {
        font-size: 14px;
        width: 100%;
    }
}

@keyframes show {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}